// Header baner.
.navbar-default
  //background-image: url(../img/broom.jpg)
  //background-size: 100% 100%
  background-color: transparent
  border: none
  padding-right: 0px
  padding-left: 0px
  margin-bottom: 0px

.main-container
  padding: 0px

.phones
  padding: 15px
  .block-title
    font-size: 14px
    font-weight: 600
    color: #f3eded
    margin: 0

.navbar-header
  float: none
  //background-image: url(../img/broom.jpg)
  height: 100px
  //background-size: 100% 100%
  .navbar-brand,
  .field--type-text-with-summary
    text-transform: none
    font-size: 14px
    font-weight: 600
    color: #f3eded

.navbar-header
  .navbar-brand
    width: 20%
    float: left
  .block-block-content,
  .block-language,
  .block-commerce-cart
    width: 25%
    float: left
    li
      line-height: 0.5
      list-style: none
      padding: 10px
      a
        padding-left: 5px
        &:hover
          color: #ffc36a
          text-shadow: 0 0 1px #000
        img
          float: left

.navbar-header
  .navbar-brand,
  a
    font-size: 14px
    font-weight: 600
    color: #f3eded
    &:hover
      color: #ffc36a
      text-shadow: 0 0 1px #000
      text-decoration: none

.cart-block--summary__icon
  float: left

.cart-block--summary__count
  padding-left: 5px
  position: relative
  top: 5px

// Main menu
.main-menu,
.user-menu
  .navbar-nav
    li
      a
        padding: 9px 9px
.navbar-default
  .navbar-nav
    li
      a
        font-size: 14px
        font-weight: 800
        color: #f3eded
        &:hover
          color: #ffc36a
          text-shadow: 0 0 1px #000
          background-color: rgba(0, 0, 0, 0.43137254901960786)
      .is-active
        background-color: rgba(0, 0, 0, 0.43137254901960786)
        color: #ffc36a
        text-shadow: 0 0 1px #000
        text-decoration: none
        font-weight: 900

.navbar-collapse
  background-color: rgba(173, 173, 173, 0.3215686274509804)
  border-top: solid 1px #bab5ab
  padding-left: 0px

// Social icons

.socicons
  width: 90%
  float: left
  .facebook,
  .instagram,
  .pinterest,
  .vkcom
    background-size: 100% 100%
    color: transparent
    position: absolute
    height: 50px
    width: auto
  .facebook
    background-image: url(../img/facebook-logo-button.png)
  .instagram
    background-image: url(../img/linkedin-button.png)
  .pinterest
    background-image: url(../img/pinterest-logo-button.png)
  .vkcom
    background-image: url(../img/vk-social-logotype.png)

.socicons
  .field--name-body
    div
      height: 100px
      width: 100px
      float: left

.socoalicons
  float: right
  li
    a
      color: #000000
      &:hover
        color: #ffc36a

// Products menu
.menu-products,
.services
  li
    a,
    .dropdown-toggle
      background-color: transparent
      font-size: 14px
      font-weight: 800
      color: #f3eded
      &:hover
        background-color: transparent
        color: #ffc36a
      &:focus
        background-color: transparent

.menu-products,
.services
  border-top: 5px solid #60406C
  .menu
    background-color: transparent
    .dropdown-menu
      background-color: rgba(96, 64, 108, 0.82)

.well
  background-color: transparent
  border: none

// Slider
.slidecarusel
  .bx-viewport
    height: 330px !important