h1, h2, h3, h4, h5, h6
  font-weight: 100
  color: #a94922


h1
  font-size: 30px
  font-weight: 700
  font-size: 38px
  text-transform: uppercase
  text-shadow: none
  letter-spacing: -1.5px

h2
  font-size: 20px
  letter-spacing: -1px
  font-weight: 600
  text-transform: uppercase


h3
  font-size: 16px


h4
  font-size: 14px


h5
  font-size: 12px


h6
  font-size: 10px


h3, h4, h5
  margin-top: 5px
  font-weight: 600
a
  color: #f3eded
  text-decoration: none
  &:hover
    color: #ffc36a
p
  color: #f3eded
body
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  background-image: url(../img/stars_texture2942.jpg)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  //background-color: #a39494
  font-size: 13px
  color: #f3eded
  overflow-x: hidden